.projectItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  background-color: #d3d3d3;
  padding: .2em;
  border-bottom: 1px solid black;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.detailCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.detailContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.h3 {
  margin: .1em 0px;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  text-transform: capitalize;
}

.h4 {
  margin: .1em 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  margin-left: .4em;
}

@media(max-width: 768px) {
  .projectItem {
    flex-direction: column;
    gap: 20px;
  }

  .col {
    align-items: center;
  }
}

.detailContainer img{
  padding:10px;
}