.projectItem {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  border-bottom: 1px black solid;
  padding: 2vmax;
}

.titleSection {
  position: relative;
  left: 1vw;
}

.projectItem > section > * {
  padding: 0.1vh;
  margin: 0;
}

.clientName {
  text-indent: 1vw;
  color: darkgray;
}