.linkButton {
  background: none!important;
  border: none;
  padding-top: 1.2em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: black;
  text-decoration: underline;
  text-underline-offset: .5em;
  cursor: pointer;
}

.authContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

main {
  border-radius: 20px;
}

.hidden{
  color:white;
}