.clientDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d3d3;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  font-weight: 700;
  width: 90%;
}

.clientDetail > * {
  padding: 10px;
}

.twoColRow {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  background-color: #d3d3d3;
  padding: .2em;
  border-bottom: 1px solid black;
  font-size: 1.1em;
  width: 100%;
}

.twoColRow > * {
  padding: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.row > * {
  margin: 5px;
}

.h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 2.2em;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.h4 {
  margin: .1em 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  margin-left: .4em;
}

.notesDiv {
  margin: 10px;
  text-align: center;
}

.linkList {
  list-style: circle;
}

.linkList {
  padding-left: 50px;
}
@media(max-width: 768px) {
  .twoColRow {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .col {
    max-width: 100%;
    width: 100%;
  }
}
