/*  Parent Wrapper  */
.clientDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d3d3;
  font-size: 0.85em;
  width: 90vw;
}

.clientDetail a {
  display: flex;
  color: #595959;
  font-size: 1.25em;
}

.clientDetail a:hover {
  color: #fff;
  text-transform: none;
}

.clientName {
  font-family: "Playfair Display", serif;
  font-size: 4em;
  padding-bottom: 0.25em;
}

.businessName {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  font-size: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.businessName h1 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2.5em;
  font-style: normal;
  text-underline-offset: 0.5em;
  text-decoration: underline;
  padding-bottom: 0.5em;
  color: #595959;
}

.infoWrapper h3 {
  margin-top: 1vw;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.25em;
}

.contactDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.contactDetails img {
  padding: 0 1em 0 0;
  height: 1.2em;
}

.contactItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0 1.2em 0;
  font-family: "IBM Plex Mono", monospace;
}

.projectSection h2 {
  font-size: 1.75em;
  padding-top: 1vw;
}

.projectSection img {
  padding-right: 1vw;
}

.projectList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30vw;
}

.projectList li {
  list-style: circle;
  margin-left: 0;
  padding: 1vw 0 0 0;
}

.projectDescription {
  font-style: italic;
}

.alignLeft {
  align-self: center;
  width: 100%;
  padding: 10px;
}

.alignLeft h2 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: 800;
}

.textBlock {
  display: flex;
  align-items: center;
  padding-bottom: 1.5vw;
  margin: 1vw 0 1vw 1vw;
  border-bottom: 1px black solid;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 600;
  font-size: 1.3em;
}

@media (max-width: 768px) {
  .infoSection {
    flex-direction: column;
  }

  .projectDetail {
    align-items: center;
  }
}
