
.infoSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.clientName {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.clientName > * {
  margin: 0;
}

.alignLeft {
  align-self: flex-start;
}