.projectDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d3d3;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  width:90%;
}

.projectDetail > * {
  padding: 10px;
}

.infoSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2em;
  padding-bottom:1.2em;
}

.clientName {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;  
}

h1 {
  font-size: 1em;
  font-family:'IBM Plex Mono', monospace;
}

.clientName > * {
  margin: 0;
}

.alignLeft {
  align-self: center;
  border-bottom: 1px black solid;
  width:100%;
}

.alignLeft > p {
  margin-left: 20px;
}

@media(max-width: 768px) {
  .infoSection {
    flex-direction: column;
  }

  .projectDetail {
    align-items: center;
  }
}