.projectDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d3d3;
  font-size: 1.2em;
  width:90%;
}

.projectDetail > * {
  padding: 10px;
}

h2 {
  padding:5px;
}

.infoSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2em;
  padding-bottom:1.2em;
}

.infoItem{
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoItem img{
  padding: 5px;
}

.clientName {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;  

  font-family:'IBM Plex Mono', monospace;
}

.clientName h1 {
  font-family:'IBM Plex Mono', monospace;
  font-size: 2em;
}

.clientName > * {
  margin: 0;
}

.alignLeft {
  align-self: center;
  border-bottom: 1px black solid;
  width:100%;
  padding: 10px;
}


.alignLeft > p {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.alignLeft:last-child{
  border:none;
}

.alignItem{
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 10px;
  font-size: 1.1em;
}

.alignItem img{
  padding: 5px;
}

.textBlock{
  padding: 10px;
  font-family:'IBM Plex Sans', monospace;
}

@media(max-width: 768px) {
  .infoSection {
    flex-direction: column;
  }

  .projectDetail {
    align-items: center;
  }
}