@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,300;1,400&family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,700&family=Work+Sans:ital,wght@0,300;1,300&display=swap');

/* 
font-family: 'IBM Plex Mono', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Work Sans', sans-serif; 
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	min-height: 100vh;
	width: 100%;
	font-family: 'Work Sans', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	background-color: lightgrey;
	padding: 40px;
	font-weight: 700;
}

h1 {
	font-size: 4em;
	display: block;
	padding-bottom: 40px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	text-transform: capitalize;
}

h2 {
	font-family: 'IBM Plex Mono', monospace;
}

form {
	display: block;
}

label {
	font-size: 0.7em;
}

input {
	display: block;
	margin: 5px;
}

a {
	color: black;
	text-decoration: none;
}
