.error {
  bg-color: red;
  color: white;
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: inheret;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}